# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo
*.pyd
*.pdb
*.pkl

# Virtual environment
.venv/
env/
venv/
ENV/
*.env
*.venv

# Distribution / packaging
build/
dist/
wheels/
*.egg-info/
.eggs/

# Logs and databases
*.log
*.sqlite3
*.db

# OS-specific
.DS_Store
Thumbs.db

# IDEs / Editors
.vscode/
.idea/
*.swp

# Coverage / Testing
.coverage
htmlcov/
.cache/
pytest_cache/

# Flask / Gunicorn specific
instance/
*.pid
